.container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    .logo {
        position: absolute;
        bottom: 10px;
        right: 10px;
        img {
            width: 120px;
        }
    }
}
.navigation {
    width: 350px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    padding-right: 20px;
    background-color: #E9B928;
    /* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
    .ul {
  
    }
    .nav_li {
        width: 100%;
        list-style: none;
        padding: 5px;
        button {
            width: 100%;
            text-align: left;
            background-color: #fff;
            color: #282828;
            border: 0;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 2px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:focus {
                outline: none;
            }
            .check {
                color: rgb(6, 170, 47);
            }
        }
    }
}
.example {
    width: 960px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #E9B928;
}
.constructor {
    margin-left: 30px;
    h4,h5 {
        color: #fff;
    }
    h4 {
        font-family: "BPG Arial Caps", sans-serif;
    }
    h5 {
        margin-top: 10px;
        font-family: "BPG Arial", sans-serif;
    }
}
.onSubmit {
    background-color: #E9B928;
    color: #fff;
    border: 0;
    padding:10px;
    margin-top: 10px;
    margin-left: 0px;
    cursor: pointer;
}
.result {
    margin-top: 10px;
    background-color: #ffffff;
    color: rgb(50, 57, 78);
    padding: 10px;
}